<div>
    <h3>Help</h3>

    <p>Please <span class="bg-info">don't panic</span>, if the application is not working.</p>

    <h4>View or Download</h4>
    <p>Using "View" will probably cause your browser
        to block a popup, if you allow the popup, the result of the conversion will be displayed in the browser. Using
        "Download" will cause your browser to download and save a file.</p>

    <h4>Browser Support</h4>
    <p>Please note that you must use a modern Web Browser (capable of doing stuffs with the HTML 5 Files API).
    These are:</p>
    <ul>
        <li>Firefox, from Version 13</li>
        <li>Chrome from version 20</li>
        <li>Internet Explorer from version 10</li>
        <li>Safari from version 6</li>
        <li>Opera from version 12.1</li>
    </ul>
    <p>If your browser is too old, sorry...</p>
    <p>Your browser must enable Javascript.</p>

</div>