<div>
    <h3>Impressum</h3>

    <p>The development of this web application was funded by the <a href="http://www.oesterreichische-geschichte.at" target="_blank">Commission for Modern Austrian History</a>.</p>
    <p>It uses the following open source software libraries: </p>

    <ul>
        <li><a href="https://github.com/TEIC/Stylesheets" target="_blank">Stylesheets of the TEI Consortium</a></li>
        <li><a href="http://spring.io/" target="_blank">Spring Framework (Boot, MVC)</a></li>
        <li><a href="http://saxon.sourceforge.net/" target="_blank">Saxon XSLT Processor</a></li>
        <li><a href="https://angularjs.org/" target="_blank">Angular JS</a></li>
        <li><a href="https://github.com/eligrey/FileSaver.js/" target="_blank">FileSaver.js</a></li>
        <li><a href="http://x-stream.github.io/" target="_blank">XStream XML Object Mapper</a></li>
        <li><a href="https://github.com/FasterXML/jackson" target="_blank">Jackson JSON Object Mapper</a></li>
    </ul>

    <p>The <a href="http://github.com/kofnego-jw">source code</a>
        is dual licensed under Creative Commons Attribution 4.0 International
        [<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC by 4.0</a>] and
        under the [<a href="http://opensource.org/licenses/bsd-license.php" target="_blank">BSD 2-Clause License</a>].
        In other words: You can do whatever you like with the source codes.
    </p>
    <p>The webapplication was developed by <a href="http://pepivampir.wordpress.com" target="_blank">Joseph Wang</a>.</p>

</div>